.container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: center;
    margin-bottom: 1em;
}

.counter {
    padding-top: 11px;
}

.redText {
    color: red;
}