.container {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: rgb(9, 11, 11);
    background-color: rgb(238, 238, 238);
    width: 400px;
    margin-top: 30px;
    
}

.register{
   padding: 50px 50px;
    margin: 0 auto;
    height: 400px;
    display: block;
    width: 300px;
    
    
}

.studentForm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 6px;
   
}

.studentForm input {
    max-width: 50%;
}


