.container {
    width: clamp(500px, 80%, 1000px);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.postForm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.postForm input[type='text'] {
    width: 100%;
}

