.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.question {
    display: flex;
    flex-wrap: wrap;
}

.question span {
    width: 100%;
}

.question label {
    width: 93%;
}
